/* line 1, ../UBER/sass/style.sass */
p {
  font-family: 'Roboto', sans-serif;
}

/* line 4, ../UBER/sass/style.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 1;
}

/* line 11, ../UBER/sass/style.sass */
header {
  position: relative;
}

/* line 14, ../UBER/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 21, ../UBER/sass/style.sass */
.menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

/* line 26, ../UBER/sass/style.sass */
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 32px;
}

/* line 30, ../UBER/sass/style.sass */
.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}

/* line 37, ../UBER/sass/style.sass */
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 42, ../UBER/sass/style.sass */
.subheader .subheader_official {
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 6px;
}

/* line 49, ../UBER/sass/style.sass */
.subheader .subheader_call {
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 19px;
  text-align: right;
}

/* line 56, ../UBER/sass/style.sass */
.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
}

/* line 66, ../UBER/sass/style.sass */
.subheader .subheader_btn {
  margin-top: 18px;
  width: 172px;
  height: 46px;
  border: none;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* line 79, ../UBER/sass/style.sass */
.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 84, ../UBER/sass/style.sass */
.promo .promo_header {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 60px;
  margin: 0;
}

/* line 93, ../UBER/sass/style.sass */
.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
}

/* line 103, ../UBER/sass/style.sass */
.promo .promo_descr {
  text-align: center;
  color: #fff;
  line-height: 24px;
  font-weight: 400px;
  margin-top: 23px;
}

/* line 110, ../UBER/sass/style.sass */
.promo .promo_btm {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  border: none;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* line 125, ../UBER/sass/style.sass */
.label {
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-size: 11px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

/* line 137, ../UBER/sass/style.sass */
.title {
  margin: 32px 0 16px 0;
  font-weight: bold;
  font-size: 37px;
  line-height: 27px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

/* line 146, ../UBER/sass/style.sass */
.subtitle {
  text-align: center;
  font-size: 17px;
  color: #222;
  margin-top: 20px;
}

/* line 152, ../UBER/sass/style.sass */
.advantages {
  min-height: 767px;
  padding: 18px 0 64px 0;
}

/* line 156, ../UBER/sass/style.sass */
.advantages .cause {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-height: 150px;
}

/* line 162, ../UBER/sass/style.sass */
.advantages .cause .circle img {
  float: left;
}

/* line 165, ../UBER/sass/style.sass */
.advantages .cause .description {
  margin-left: 25px;
  font-size: 15px;
  color: #000000;
}

/* line 170, ../UBER/sass/style.sass */
.advantages .cause .description span {
  color: #1EACC7;
  font-size: 17px;
}

/* line 174, ../UBER/sass/style.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}

/* line 178, ../UBER/sass/style.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 180, ../UBER/sass/style.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 187, ../UBER/sass/style.sass */
.mobile_item_1 {
  background: url("../img/mobile_screen_1.png") center center/cover no-repeat;
}

/* line 189, ../UBER/sass/style.sass */
.mobile_item_2 {
  background: url("../img/mobile_screen_2.png") center center/cover no-repeat;
}

/* line 191, ../UBER/sass/style.sass */
.mobile_item_3 {
  background: url("../img/mobile_screen_3.png") center center/cover no-repeat;
}

/* line 193, ../UBER/sass/style.sass */
.mobile_item_4 {
  background: url("../img/mobile_screen_4.png") center center/cover no-repeat;
}

/* line 195, ../UBER/sass/style.sass */
.mobile_item_5 {
  background: url("../img/mobile_screen_5.png") center center/cover no-repeat;
}

/* line 197, ../UBER/sass/style.sass */
.mobile_item_6 {
  background: url("../img/mobile_screen_6.png") center center/cover no-repeat;
}

/* line 199, ../UBER/sass/style.sass */
.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 206, ../UBER/sass/style.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */